/* Variables */

// Sidebar
$sideBarWidth     :300px;
$subMenuBg        :#1f2d3d;
$subMenuHover     :#001528;
$subMenuActiveText:#f4f4f5;
$menuBg           :#fff;
$menuText         :#162B64;
$menuActiveText   :#5acc20; // Also see settings.sidebarTextTheme
